<html>
    <head>
        <Title>Home</Title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"/>

        <style>
            body {
                height: 100%;
                max-width: 100%;
            }
            .content {
                margin-top: 5vh;
                margin-left: 10vw;
                margin-right: 50vh;
            }
            select {
                width: 50vh;
            }
            .input {
                width: 60vh;
            }
            .button {
                width: 10vw;
                height: 5vh;
            }
            
        </style>
    </head>
    <body>
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="navbar-item">
                      <strong>Sign up</strong>
                    </a>
                    <a class="navbar-item">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        <section class="hero is-link is-bold">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Reading List Recommendations
                </h1>
                <h2 class="subtitle">
                  Get customised book recommendations
                </h2>
              </div>
            </div>
          </section>
        
        
        <div class="content">
           <form action="{{url_for('display')}}" method = "POST">
            <div class="field">
                <label class="label">Tags</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter tag names for your search" name = "tags">
                </div>
              </div>
                            
              <div class="field">
                <label class="label">Rating</label>
                <div class="control">
                  <div class="select">
                    <select name = "rate">
                      <option value = 0>Any</option>
                      <option value = 4>>4</option>
                      <option value = 3>>3</option>
                      <option value = 2>>2</option>
                      <option value = 1>>1</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Language</label>
                <div class="control">
                  <div class="select is-multiple">
                    <select name = "language">
                    {% if lang %}
                    {% for i in lang %}
                    <option value = '{{i}}'>{{i}}</option>
                    {% endfor %}
                    {% endif %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Publication Year</label>
                <div class="control">
                  <div class="select is-multiple">
                    <select name = "year">
                      <option value = [0,1800]>Before 1800</option>
                      <option value = [1800,1825]>Between 1800 and 1825</option>
                      <option value = [1825,1850]>Between 1825 and 1850</option>
                      <option value = [1850,1875]>Between 1850 and 1875</option>
                      <option value = [1875,1900]>Between 1875 and 1900</option>
                      <option value = [1900,1925]>Between 1900 and 1925</option>
                      <option value = [1925,1950]>Between 1925 and 1950</option>
                      <option value = [1950,1975]>Between 1950 and 1975</option>
                      <option value = [1975,2000]>Between 1975 and 2000</option>
                      <option value = [2000,2025]>After 2000</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>

              <div class="field is-grouped">
                <div class="control">
                  <input type="submit" value="Submit" class="button is-link"><br />
                </div>
              </div>
           </form>
          </div>
        
    </body>
</html>
