<html>
    <head>
        <Title>Your Profile</Title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"/>

        <style>
            body {
                height: 100%;
                max-width: 100%;
            }
            .content {
                margin-top: 2vh;
                margin-left: 15vw;
                margin-right: 15vw;
            }
           
           
            .button {
                width: 20vw;
                height: 7vh;
            }
            .divScroll {
                overflow:scroll;
                height:100px;
                width:200px;
            }    
        </style>
    </head>
    <body>
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
              </div>
        </div>
        </nav>
        <section class="hero is-link is-bold">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Hi {{user}}! 
                </h1>
                <h2 class="subtitle">Welcome back!</h2>
              </div>
            </div>
          </section>
          <div class="content">
            <div class="box">
                <h2>Your position on the leader board is {{rank}} with a score of {{score}}</h2><br>
                <div class="columns">
                    <div class="column is-one-fifth"></div>
                    <div class="column">
                        <table class="divScroll table is-full-width is-striped is-bordered">
                            {% if leader %}
                        <tr>
                            <th>Rank</th>
                            <th>user ID</th>
                            <th>No of books he has read</th>
                        </tr>
                        {% for i in leader %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td> {{i[1]}}</td>
                            <td> {{i[2]}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </table>
                    </div>
                    <div class="column is-one-fifth"></div>
                </div>
                <div class="columns is-variable is-8">
                    <div class="column">
                        <strong>Your wishlist</strong> <br>
                        <form action="">
                            <table class = "divScroll">
                                {% if desire %}
                                {% for i in desire %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><a href = "{{url_for('info', value = i[0])}}"> {{i[1]}}</a></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                            <div class="field">
                                <p class="control" style="margin-top:1.5rem;">
                                    <strong><input id="button" type="submit" value="Add to Read Books" name="login" class="button is-link is-light"/></strong>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="column">
                        <strong>Books you have read</strong> <br>
                        <form action="">
                            <table class = "divScroll">
                                {% if read %}
                                {% for i in read %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td><a href = "{{url_for('info', value = i[0])}}"> {{i[1]}}</a></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                            <div class="field">
                                <p class="control" style="margin-top:1.5rem;">
                                    <strong><input id="button" type="submit" value="Add to Read Books" name="login" class="button is-link is-light"/></strong>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                
            <section class="hero is-link">
                <div class="hero-body">
                    <div class="container">
                      <div class="columns is-8 is-variable">
                        <div class="column">
                            <form action="{{url_for('to_read', value = user) }}" method = "POST">
                                <div class="control">
                                    <input style="width: 25vw;" class="input is-link" type="int" placeholder="Enter exact title in the database" name = "read">
                                </div>
                                    <br><input style="height: 5vh;" type="submit" value="Add a book to your wishlist" class="button is-link is-inverted" />
                            </form>
                        </div>
                        <div class="column"></div>
                        <div class="column">
                            <form action = "{{url_for('read_book', value = user)}}", method = "POST">
                                <div class="select">
                                    <select name = "rate" style="width: 25vw;">
                                        {% if desire %}
                                        {% for i in desire %}
                                        <option value = {{i[0]}}>{{i[1]}}</option> 
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                    <input class="input" type="int" placeholder="Enter rating of the book" name = "rate_book"><br>
                                    <br><input style="height: 5vh;" type="submit" value="Add Book Rating"  class="button is-link is-inverted" /><br />
                                </div>                            
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
            
          </div>
    </body>
</html>
